@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'home';
@import 'rooms';
@import 'sessions';
@import 'users';

$background-color: #ffffff;
$text-color: #2C2D30;
$link-color: #A292A0;
$header-font: 'Lato', sans-serif;
$turquoise: #38978D;
$purple: #4D394B;
$dark-purple: #3E313C;
$nav-spacing: 20px;


body {
  background: $background-color;
  color: $text-color;
}
html, body {
  height: 100%;
}

#new-user {
  max-width: 500px;
  text-align: center;
  .form-control {
    text-align: center;
  }
  .help-block {
    color: #E74C3C;
    font-size: 14px;
  }
  #add-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  small {
    color: #999999;
    font-size: 14px;
  }
  h4 {
    color: #999999;
  }
}

.col-md-2 {
  background-color: $purple;
  color: $link-color;
  font-family: $header-font;
  padding-right: 0;
  .user {
    padding: 0 $nav-spacing;
    width: 100%;
    h1 {
      font-size: 18px;
      color: $background-color;
      padding-top: $nav-spacing / 2;
      margin: 0;
      font-weight: 700;
    }
    p {
      position: relative;
      left: 12px;
      font-size: 12px;
      line-height: 14px;
      margin-top: 4px;
      padding-bottom: $nav-spacing / 2;
    }
    p::before {
      content: '';
      left: -12px;
      top: 3px;
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background: $turquoise;
    }
    &:hover {
      background-color: $dark-purple;
    }
  }
  .details {
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 $nav-spacing;
      a {
        color: $link-color;
      }
      i {
        margin: 0;
        font-size: 14px;
        color: #7C6A7A;
      }
      h2 {
        margin: 0;
        font-size: 14px;
        small {
          font-size: 13px;
          color: #7C6A7A;
        }
        &:hover {
          color: #ffffff;
        }
      }
    }
    p {
      font-size: 16px;
      padding: 0 $nav-spacing 2px;
      margin: 0;
      font-weight: lighter;
      &:hover {
        background-color: $dark-purple;
      }
    }
    #current {
      background-color: $turquoise;
      color: #ffffff;
    }

  }
}
